@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

body {
  font-family: 'Be Vietnam', sans-serif;
  margin: 0;
}

.heading {
  width: 90%;
  margin: 0 auto 100px;
  text-align: center;

}

.heading .img img, .testamonials .img img {
  max-width: 100%;
  max-height: 100%;
}

.title { 
  font-weight: 700;
  color: hsl(228, 39%, 23%);
}

.heading .title {
  font-size: 40px;
}

.content {
  color: hsl(227, 12%, 61%);
}

button.btn {
  border: none;
  border-radius: 25px;
  padding: 14px 25px;
  margin: 15px 0;
  font-weight: 700;
  color: white;
  background-color: hsl(12, 88%, 59%);
  box-shadow: 0 7px 5px hsla(12, 88%, 59%, 0.349);
}

button.btn:hover {
  background-color: hsl(12, 77%, 67%);
  color: white;
}

.different {
  margin: auto;
}

.different .sell {
  width: 85%;
  margin: 50px auto;
  text-align: center;
}

.sell .title {
  font-size: 30px;
}

.card-list {
  margin-left: 20px;
}

.card {
  margin: 30px 0;
}
.card .header {
  display: flex;
  position: absolute;
}

.card .number {
  background-color: hsl(12, 88%, 59%);
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 25px;
  border-radius: 25px;
}

.different .card .title {
  position: relative;
  left: -20px;
  padding: 12px 24px;
  z-index: -1;
  background-color: hsl(13, 100%, 96%);
}

.different .card .content {
  padding-top: 50px;
}

.testamonials {
  width: 80%;
  margin: auto;
  text-align: center;
}

.testamonials .title {
  font-size: 30px;
  margin: 70px auto;
}

.card.inactive {
  display: none;
}

.testamonials .card {
  background-color: hsl(0, 0%, 98%);
  padding: 0 30px 50px 30px;
}

.testamonials .card .img {
  position: relative;
  top: -40px;
  height: 80px;
}

.testamonials .card .name {
  font-size: 20px;
  font-weight: 700;
  margin-top: -10px;
  margin-bottom: 20px;
}

.picker {
  display: flex;
  width: 38%;
  margin: auto;
  height: 30px;
}
.picker .circle {
  border: 2px solid hsl(12, 88%, 59%);
  border-radius: 50%;
  width: 100%;
  margin: 5px;
}

.picker .circle.active{
  background-color: hsl(12, 88%, 59%);
}

.simplify {
  background-color: hsl(12, 88%, 59%);
  text-align: center;
  padding: 50px 35px;
  margin-top: 50px;
}

.simplify .title {
  color: white;
  font-size: 40px;
}

.simplify .btn {
  background-color: white;
  color: hsl(12, 88%, 59%);
}

.simplify .btn:hover {
  background-color: rgb(226, 225, 225);
  color: hsl(12, 88%, 59%);
}


/* 

## Colors

### Primary

Bright Red: hsl(12, 88%, 59%)
Dark Blue: hsl(228, 39%, 23%)

### Neutral

Dark Grayish Blue: hsl(227, 12%, 61%)
Very Dark Blue: hsl(233, 12%, 13%)
Very Pale Red: hsl(13, 100%, 96%)
Vary Light Gray: hsl(0, 0%, 98%)

*/