@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$rubrik: 'Rubik', sans-serif;

$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$gray: hsl(229, 8%, 60%);
$dark: hsl(229, 31%, 21%);


body {
  font-family: $rubrik;
  margin: 0;  
  text-align: center;
}

button {
  border-style: none;
  color: white;
  background-color: $soft-blue;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  padding: 15px 25px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
}

button:hover {
  background-color: darken($soft-blue, 10%);
}

.img {
  margin: 20px;
  img {
    width: 100%;
  }
}

.heading {
  .btns {
    padding: 20px 0;
  }

  .firefox {
    color: rgb(65, 65, 65);
    background-color: rgb(230, 230, 230);
  }

  .firefox:hover {
    background-color: rgb(197, 197, 197);
  }
}

.content {
  margin: 20px;
  
  .title {
    font-weight: 500;
    font-size: 25px;
    padding: 10px;
  }
  
  .text {
    padding: 10px;
    color: $gray;
  }
}
  

.inactive {
  display: none;
}

.selector {
  .tiles {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 15px;
    margin: 0 20px;
    color: darken($gray, 20%);
    cursor: pointer;
  }

  .tiles.selected {
    border-bottom: 3px solid $soft-red;
  }

  
}
.selection {
  display: none;
  padding: 50px 20px;
}

.selection.selected {
  display: block;
}

.card-list {
  padding: 40px;

  .card {
    border-radius: 10px;
    box-shadow: 0 5px 5px darken(white, 30%);
    padding: 25px;
    margin: 30px 15px;

    button {
      box-shadow: none;
    }

    .title {
      font-weight: 500;
      font-size: 18px;
      padding: 10px;
    }

    .text {
      color: $gray;
      font-size: 14px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px dashed $gray;
    }
  }
}

.faq-list {
  margin: 50px 20px;

  .question {
    border-bottom: 1px solid $gray;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }

  .answer {
    color: $gray;
    padding: 20px;
    text-align: left;
  }
}

.info {
  padding: 20px;
  margin: 50px 0 100px;
}

.subscribe {
  background-color: $soft-blue;
  color: white;
  padding: 50px 20px;

  .sub-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    margin: 10px 0;
  }

  .title {
    font-size: 22px;
    font-weight: 500;
    padding: 0 10px 30px; 
  }

  .sub-form {
    display: flex;
    flex-direction: column;

    input, button {
      margin: 10px 0;
    }

    input {
      font-size: 15px;
      padding: 18px;
      border: none;
      border-radius: 5px;
    }
  }

  button {
    background-color: $soft-red;
  }

  button:hover {
    background-color: darken($soft-red, 10%);
  }
}

footer {
  color: white;
  background-color: $dark;
  padding-top: 30px;

  .footer-links {
    padding: 10px;
    .link {
      padding: 10px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;

    .soc-img {
      padding: 20px;
    }
  }
  
  .logo-img {
    filter: invert(100%) sepia(11%) saturate(181%) hue-rotate(238deg) brightness(123%) contrast(98%);
  }
}
